.divNav{
    padding  : 10px;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 15px;
}

.divNav ul li{
    margin-right: 15px;
}

.navText{
    color: #35C9A5;
    letter-spacing: 2px;
}

.navText:hover{
    color: #35C9A5;
}

.navText::selection{
    color: white;
}