.divNav{
    display: flex;
    justify-content:space-evenly;
    padding-top: 2em;
}

.divNav ul li{ 
    margin-inline: 1em;
    margin-bottom: 1em; 
}

.navText{
    color: #35C9A5;
    letter-spacing: 0.1em;
}

.navText:hover{
    color: #35C9A5;
}

.navText:focus{
    color: white;
}

.navToggle{
    color: #35C9A5;
    letter-spacing: 0.1em;
}

.navToggle:hover{
    color: #35C9A5;
}

.navToggle:focus{
    color: white;
}

.link{
    color: #000;
    text-shadow: #000;
    text-decoration: none;
}
.link:hover{
    color: #000;
    text-shadow: #000;
    text-decoration: none;
}