.divNav{
    display: flex;
    justify-content:space-between;
    padding-top: 2em;
}

.divNav ul li{ 
    margin-inline: 1em;
    margin-bottom: 1em;
}

.navText{
    color: #35C9A5;
    letter-spacing: 0.1em;
}

.navText:hover{
    color: #35C9A5;
}

.navText:focus{
    color: white;
}