.a{
    color: black;
    background: linear-gradient(white 0%,#35C9A5 50%, white 100%);

  }

.a:hover{
  color: white;
  background: linear-gradient(black 0%,#35C9A5 50%, black 100%);
}
  
.divGlobal{
  display: flex;
  justify-content:space-around;
  margin-inline-start: 2.5rem;
}