.a{  
  color: #F5F5F5;
  background: radial-gradient(#35C9A5  40%, black  100%);
  }

.a:hover{
  color: black;
  background: radial-gradient(white 15%, #35C9A5  100%);
}

.bgbody{
  background: #F3F4F6;
  padding-bottom: 1em;
}

.bgbody404{
  background: #F3F4F6;
  padding-bottom: 1em;
}